*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contenedorLogin{
	width: 400px;
	margin: 50px auto;
	background-color: #F3EDED;
    border: 1px solid #ECE8E8;
	height: 400px;
	border-radius:15px;
	padding: 0px 9px 0px 9px;
}
.login{
    width: 200px;
    height:30px;
    border-radius:5px;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px 
}
